* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar-container {
  padding: 10px;
}

.navbar-custom {
  background: linear-gradient(45deg, #6a3093, #a044ff); /* Gradient background */
  padding: 10px 15px; /* Padding for larger clickable area and better spacing */
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em; /* Larger font size */
}

.navbar-custom .nav-link {
  color: #fff;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.navbar-custom .nav-link:hover, .navbar-custom .nav-link:focus {
  color: #ffd700; /* Gold color on hover */
}

.navbar-toggler {
  border-color: rgba(255,255,255,0.1); /* Toggler icon border color */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
}
