.container-card {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  margin-top: -60px;
}

.card {
  display: inline-block;
  width: 18rem;
  margin: 10px;
  height: 100%;
}

.card-break {
  white-space: break-spaces;
  min-height: 50px;
}
