{% extends 'layout.html' %} {% block content %}
<div class="container mt-2 mb-10">
  <h2 style="color: white;">Delete Data...</h2>
  <h6 style="color: white;">Insert a name to delete it from the database</h6>
  <br />
  <form action="{% url 'delete' %}" method="post" class="input-group">
    {% csrf_token %}
    <input
      type="search"
      class="form-control rounded"
      placeholder="Delete data..."
      aria-label="Search"
      aria-describedby="search-addon"
      name="delete_value"
    />
    <button type="submit" class="btn btn-outline-danger" name="delete_data">
      Delete
    </button>
  </form>
  <br />

  {% if success %} {% if success.boolean == False %}
  <h3 class="text-success">Successfully deleted data</h3>
  {% else %}
  <h3 class="text-danger">Failed to delete data</h3>
  {% endif %} {% endif %}
  <br /><br /><br /><br />
  <h2 style="color: white;">Delete an entire genre...</h2>
  <h6 style="color: white;">Insert a genre to delete it from the database, including every movie belonging to it</h6>
  <br />
  <form action="{% url 'delete' %}" method="post" class="input-group">
    {% csrf_token %}
    <input
      type="search"
      class="form-control rounded"
      placeholder="Delete data..."
      aria-label="Search"
      aria-describedby="search-addon"
      name="delete_value"
    />
    <button
      type="submit"
      class="btn btn-outline-danger"
      name="delete_entire_genre"
    >
      Delete genre
    </button>
  </form>
  <br />

  {% if success2 %} {% if success2.boolean == False %}
  <h3 class="text-success">Successfully deleted data</h3>
  {% else %}
  <h3 class="text-danger">Failed to delete data</h3>
  {% endif %} {% endif %}
</div>
{% endblock %}
