<div class="card-body" vocab="https://schema.org/" typeof="Movie">
    <!-- title -->
    <h5 class="card-title" property="name">{{ entry.title.value }}</h5>
    <!-- cast -->
    <form class="mb-3" action="{% url 'search_alternative' %}" method="post">
      <p class="card-text"><strong>Cast:</strong> 
        {% csrf_token %}
        {% for index, cast in entry.mergedCasts.values.items %}
        <button type="submit" class="button_text" name="cast_search" value="{{ cast }}">
          <span property="actor" typeof="person">
            <span property="name">{{ cast }}</span>
          </span>
        </button>
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    </form>
    <!-- release year -->
    <form action="{% url 'search_alternative' %}" class="mb-3" method="post">
      {% csrf_token %}
      <p class="card-text">
        <strong>Release:</strong>
        <button type="submit" class="button_text" name="date_search" value="{{ entry.release_year.value }}">
          <span property="datePublished">{{ entry.release_year.value }}</span>
        </button>
      </p>
    </form>
    <!-- genres -->
    <form class="mb-3" action="{% url 'search_alternative' %}" method="post">
      {% csrf_token %}
        <p class="card-text"><strong>Genres:</strong> 
          {% for index, genre in entry.mergedGenres.values.items %}
            <button type="submit" class="button_text" name="genre_search" value="{{ genre }}">
              <span property="genre">{{ genre }}</span>
            </button>
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
    </form>
    <!-- director -->
    <form action="{% url 'search_alternative' %}" class="mb-3" method="post">
      {% csrf_token %}
      <p class="card-text">
        <strong>Director:</strong>
        <button type="submit" class="button_text" name="director_search" value="{{ entry.director.value }}" property="director" typeof="person">
          <span property="name">{{ entry.director.value }}</span>
        </button>
      </p>
    </form>
    <!-- country -->
    <p class="card-text">
      <strong>Country:</strong> 
      <span property="countryOfOrigin" typeof="country">
        <span property="name">{{ entry.country.value }}</span>
      </span>
    </p>
    <!-- Rating -->
    <p class="card-text">
      <strong>Rating:</strong> 
      <span property="contentRating">{{ entry.rating.value }}</span>
    </p>
    <!-- Duration -->
    <p class="card-text">
      <strong>Duration:</strong>
      <span property="duration">{{ entry.duration.value }}</span>
    </p>
    <!-- description -->
    <p class="card-text">
      <strong>Description:</strong>
      <span property="description">{{ entry.description.value }}</span>
    </p>
</div>