{% extends 'layout.html' %} {% block content %}

<div class="container mt-2 mb-10">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h1 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <strong>Inference Search</strong>
        </button>
      </h1>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col-5">
              <div class="col-md">
                <div class="row">
                  <h3>Media Inferences</h3>
                  <form method="post" action="{% url 'inferences' %}">
                    {% csrf_token %}
                    <div class="row">
                      <p>Pick one type:</p>
                      <div class="form-group">
                        <select class="form-control" name="type">
                          <option value="Media">Media</option>
                          <option value="Movie">Movie</option>
                          <option value="OldMovie">Old Movie</option>
                          <option value="RecentMovie">Recent Movie</option>
                          <option value="TVShow">TV Show</option>
                          <option value="OldTVShow">Old TV Show</option>
                          <option value="RecentTVShow">Recent TV Show</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <p>Pick one rating:</p>
                      <div class="form-group">
                        <select class="form-control" name="rating">
                          <option value="NoRating">No rating</option>
                          <option value="Kids">For kids</option>
                          <option value="Teens">For teens</option>
                          <option value="Adults">For adults</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <p>Pick duration:</p>
                      <div class="form-group">
                        <select class="form-control" name="duration">
                          <option value="AllDuration">All</option>
                          <optgroup label="Movies">
                            <option value="LongMovie">
                              Long duration (>90m)
                            </option>
                            <option value="ShortMovie">
                              Short duration (<=90m)
                            </option>
                          </optgroup>
                          <optgroup label="TV Shows">
                            <option value="LongTVShow">
                              Long duration (>= 2 seasons)
                            </option>
                            <option value="ShortTVShow">
                              Short duration (1 season)
                            </option>
                          </optgroup>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <button
                        type="submit"
                        class="btn btn-danger mb-3"
                        name="media_search"
                      >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="col-md h-100">
                <div class="row">
                  <h3>Person Inferences</h3>
                  <form
                    method="post"
                    action="{% url 'inferences' %}"
                    class="col h-100 d-flex flex-column justify-content-between"
                  >
                    {% csrf_token %}
                    <div class="row">
                      <p>Pick one type:</p>
                      <div class="form-group">
                        <select class="form-control" name="person_type">
                          <option value="AllPeople" selected>All</option>
                          <option value="Actor">Actor</option>
                          <option value="Director">Director</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <button
                        type="submit"
                        class="btn btn-danger mb-3"
                        name="person_search"
                      >
                        Search
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div
                class="col-md h-100 d-flex flex-column justify-content-between"
              >
                <div class="row">
                  <form method="post" action="{% url 'inferences' %}">
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="btn btn-danger mb-3"
                      name="spin"
                    >
                      Run SPIN
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %} {% if success %}
  <div class="alert alert-success" role="alert">{{ success }}</div>
  {% endif %}

  <br />
  <br />

  {% if results %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
  <link rel="stylesheet" href="{% static 'css/search_2.css' %}" />

  <h1 class="mt-5 mb-1 text-white">{{prompt}}</h1>
  <span class="mb-3 text-white">{{ num_results }} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in results %}
    <div class="card flex-grow-1">
      <div class="card-body">
        <h5 class="card-title card-break">{{ entry.title.value }}</h5>
        <form
          class="mb-3"
          action="{% url 'search_alternative' %}"
          method="post"
        >
          {% csrf_token %}
          <p class="card-text toggle-text">
            <strong>Cast:</strong>
            {% for index, cast in entry.mergedCasts.values.items %}
            <button
              type="submit"
              class="button_text"
              name="cast_search"
              value="{{ cast }}"
            >
              {{ cast }}
            </button>
            {% if not forloop.last %}, {% endif %} {% endfor %}
          </p>
        </form>
        <form
          action="{% url 'search_alternative' %}"
          class="mb-3"
          method="post"
        >
          {% csrf_token %}
          <p class="card-text">
            <strong>Release:</strong>
            <button
              type="submit"
              class="button_text"
              name="date_search"
              value="{{ entry.release_year.value }}"
            >
              {{ entry.release_year.value }}
            </button>
          </p>
        </form>

        <form
          class="mb-3"
          action="{% url 'search_alternative' %}"
          method="post"
        >
          {% csrf_token %}
          <p class="card-text toggle-text">
            <strong>Genres:</strong>
            {% for index, genre in entry.mergedGenres.values.items %}
            <button
              type="submit"
              class="button_text"
              name="genre_search"
              value="{{ genre }}"
            >
              {{ genre }}
            </button>
            {% if not forloop.last %}, {% endif %} {% endfor %}
          </p>
        </form>

        <form
          action="{% url 'search_alternative' %}"
          class="mb-3"
          method="post"
        >
          {% csrf_token %}
          <p class="card-text">
            <strong>Director:</strong>
            <button
              type="submit"
              class="button_text"
              name="director_search"
              value="{{ entry.director.value }}"
            >
              {{ entry.director.value }}
            </button>
          </p>
        </form>
        <p class="card-text toggle-text">
          <strong>Country:</strong> {{ entry.country.value }}
        </p>
        <p class="card-text toggle-text">
          <strong>Rating:</strong> {{ entry.rating.value }}
        </p>
        <p class="card-text toggle-text">
          <strong>Duration:</strong> {{ entry.duration.value }}
        </p>
        <p class="card-text toggle-text">
          <strong>Description:</strong> {{ entry.description.value }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% if results_person %}

  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
  <link rel="stylesheet" href="{% static 'css/search_2.css' %}" />

  <h1 class="mt-5 mb-1 text-white">{{prompt}}</h1>
  <span class="mb-3 text-white">{{ num_results }} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in results_person %}
    <div class="col-md-3">
      <div class="card d-flex justify-content-center">
        <form action="{% url 'search_alternative' %}" method="post">
          {% csrf_token %}
          <div class="card-body">
            <h5 class="card-title text-center">
              <button
                class="button_text"
                type="submit"
                name="unified_search"
                value="{{ entry.person.value }}"
              >
                {{ entry.person.value }}
              </button>
            </h5>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %}
</div>

{% endblock %}
