{% extends 'layout.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<div class="container mt-5 text-center">
  <h1>Welcome to MoviePedia</h1>
  <p>Discover and explore your favorite movies with MoviePedia!</p>

  <div class="search-container">
      <form method="post" class="search-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" name="movie_search" class="btn btn-primary">Search</button>
      </form>
  </div>



  <!-- MODAL -->
  <a href="#" class="btn btn-link" data-toggle="modal" data-target="#advancedSearchModal">Advanced Search</a>
</div>
    <!-- Modal for Advanced Search -->
    <div class="modal fade" id="advancedSearchModal" tabindex="-1" role="dialog" aria-labelledby="advancedSearchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="advancedSearchModalLabel">Advanced Search Options</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for searching between dates -->
                    <form method="post">
                        {% csrf_token %}
                        {{ between_dates_form.as_p }}
                        <button type="submit" name="between_dates_search" class="btn btn-primary mb-3">Search Dates</button>
                    </form>

          <!-- Form for searching by a specific date -->
          <form method="post">
            {% csrf_token %} {{ date_form.as_p }}
            <button
              type="submit"
              name="date_search"
              class="btn btn-primary mb-3"
            >
              Search Specific Date
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {% if results %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
  <h2>Search Results:</h2>
  <div class="row">
    {% for entry in results %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ entry.title.value }}</h4>
          <br>
          <p><strong>Release:</strong> {{ entry.release_year.value }}</p>
          <p><strong>Description:</strong> {{ entry.description.value }}</p>
          <!-- Trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal{{ forloop.counter }}">View More</button>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="detailModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="detailModalLabel{{ forloop.counter }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailModalLabel{{ forloop.counter }}">{{ entry.title.value }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Director</th>
                  <td>{{ entry.director.value }}</td>
                </tr>
                <tr>
                  <th>Country</th>
                  <td>{{ entry.country.value }}</td>
                </tr>
                <tr>
                  <th>Rating</th>
                  <td>{{ entry.rating.value }}</td>
                </tr>
                <tr>
                  <th>Duration</th>
                  <td>{{ entry.duration.value }}</td>
                </tr>
                <tr>
                  <th>Genres</th>
                  <td>
                    <ul class="list-unstyled">
                      {% for key, genre in entry.mergedGenres.values.items %}
                        <li>{{ genre }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>Cast</th>
                  <td>
                    <ul class="list-unstyled">
                      {% for key, cast_member in entry.mergedCasts.values.items %}
                        <li>{{ cast_member }}</li>
                      {% endfor %}
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  </div>

  {% elif search_performed %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
  <br>
  <h3>No results found... Here's every movie available</h3>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for results in all_result %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title card-break">{{ results.movies.value }}</h5>
        <p class="card-text card-break">{{ results.description.value }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <br />
  <br /><br />
  {% if genre_grid %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search_2.css' %}" />
  <div class="container">
    <h2 class="mb-3">Top Movie Genres</h2>
    <div class="row">
      {% for genre in genre_grid %}
      <div class="col-md-3">
        <div class="card d-flex justify-content-center">
          <form action="{% url 'search_alternative' %}" method="post">
            {% csrf_token %}
            <div class="card-body">
              <h5 class="card-title text-center">
                <button
                  class="button_text"
                  type="submit"
                  name="genre_search"
                  value="{{ genre.genres.value }}"
                >
                  {{ genre.genres.value }}
                </button>
              </h5>
              <p class="card-text text-center">{{ genre.count.value }}</p>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <br />
  <br /><br />
  {% if cast_grid %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search_2.css' %}" />
  <div class="container">
    <h2 class="mb-3">Famous Movie Actors</h2>
    <div class="row">
      {% for actor in cast_grid %}
      <div class="col-md-3">
        <div class="card d-flex justify-content-center">
          <form action="{% url 'search_alternative' %}" method="post">
            {% csrf_token %}
            <div class="card-body">
              <h5 class="card-title text-center">
                <button
                  class="button_text"
                  type="submit"
                  name="cast_search"
                  value="{{ actor }}"
                >
                  {{ actor }}
                </button>
              </h5>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <br />
  <br /><br />
  {% if director_grid %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search_2.css' %}" />
  <div class="container">
    <h2 class="mb-3">Famous Movie Directors</h2>
    <div class="row">
      {% for director in director_grid %}
      <div class="col-md-3">
        <div class="card d-flex justify-content-center">
          <form action="{% url 'search_alternative' %}" method="post">
            {% csrf_token %}
            <div class="card-body">
              <h5 class="card-title text-center">
                <button
                  class="button_text"
                  type="submit"
                  name="director_search"
                  value="{{ director }}"
                >
                  {{ director }}
                </button>
              </h5>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<br /><br /><br />

{% endblock %}
