{% extends 'layout.html' %} {% block content %}
<div class="container mt-5">
  <h1>Welcome to MoviePedia</h1>
  <p>Discover and explore your favorite movies with MoviePedia!</p>

  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" name="movie_search">Search</button>
  </form>

  <!-- MODAL -->
  <button
    type="button"
    class="btn btn-info"
    data-toggle="modal"
    data-target="#advancedSearchModal"
  >
    Advanced Search
  </button>

  <!-- Modal for Advanced Search -->
  <div
    class="modal fade"
    id="advancedSearchModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="advancedSearchModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="advancedSearchModalLabel">
            Advanced Search Options
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Form for searching between dates -->
          <form method="post">
            {% csrf_token %} {{ between_dates_form.as_p }}
            <button
              type="submit"
              name="between_dates_search"
              class="btn btn-primary mb-3"
            >
              Search Dates
            </button>
          </form>

          <!-- Form for searching by a specific date -->
          <form method="post">
            {% csrf_token %} {{ date_form.as_p }}
            <button
              type="submit"
              name="date_search"
              class="btn btn-primary mb-3"
            >
              Search Specific Date
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {% if results %}
  <h2>Search Results:</h2>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in results %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title card-break">{{ entry.title.value }}</h3>
        <br />
        <p class="card-text card-break toggle-text">
          <strong>Cast:</strong> {{ entry.mergedCasts.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Release:</strong> {{ entry.release_year.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Genres:</strong> {{ entry.mergedGenres.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Director:</strong> {{ entry.director.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Country:</strong> {{ entry.country.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Rating:</strong> {{ entry.rating.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Duration:</strong> {{ entry.duration.value }}
        </p>
        <p class="card-text card-break toggle-text">
          <strong>Description:</strong> {{ entry.description.value }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>

  {% elif search_performed %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />
  <li></li>
  <h3>No results found... Here's every movie available</h3>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for results in all_result %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title card-break">{{ results.movies.value }}</h5>
        <p class="card-text card-break">{{ results.description.value }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <br />
  <br /><br />
  {% if search_grid %}
  <div class="container">
    <div class="row">
      {% for genre in search_grid %}
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ genre.genres.value }}</h5>
            <p class="card-text">Count: {{ genre.count.value }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
