{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2 style="color: white;">Insert a new Movie into our Database:</h2>
    <br>
    <form action="{% url 'insert' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="movieName" style="color: white;">Movie Name</label>
            <input type="text" class="form-control" id="movieName" name="movie_name" required>
        </div>
        <div class="form-group">
            <label for="movieDirector" style="color: white;">Director</label>
            <input type="text" class="form-control" id="movieDirector" name="movie_director" required>
        </div>
        <div class="form-group">
            <label for="movieCountry" style="color: white;">Country</label>
            <input type="text" class="form-control" id="movieCountry" name="movie_country" required>
        </div>
        <div class="form-group">
            <label for="movieRating" style="color: white;">Rating</label>
            <input type="text" class="form-control" id="movieRating" placeholder = "e.g., PG-13, R, TV-MA..." name="movie_rating" required>
        </div>
        <div class="form-group" style="color: white;">
            <label for="movieDuration" style="color: white;">Duration</label>
            <input type="text" class="form-control" id="movieDuration" name="movie_duration" required>
        </div>
        <div class="form-group">
            <label for="movieGenres" style="color: white;">Genres (comma-separated)</label>
            <input type="text" class="form-control" id="movieGenres" placeholder="e.g., TV Dramas, Stand-Up Comedy, Action & Adventure, Horror Movies..." name="movie_genres" required>
        </div>
        <div class="form-group">
            <label for="movieCast" style="color: white;">Cast (comma-separated)</label>
            <input type="text" class="form-control" id="movieCast" name="movie_cast" required>
        </div>
        <div class="form-group">
            <label for="movieType" style="color: white;">Type</label>
            <input type="text" class="form-control" id="movieType" name="movie_type" placeholder="e.g., Movie, TV Show" required>
        </div>
        <div class="form-group">
            <label for="movieDateAdded" style="color: white;">Date Added</label>
            <input type="date" class="form-control" id="movieDateAdded" name="movie_date_added">
        </div>
        <div class="form-group">
            <label for="movieReleaseYear" style="color: white;">Release Year</label>
            <input type="text" class="form-control" id="movieReleaseYear" name="movie_release_year">
        </div>
        <div class="form-group">
            <label for="movieDescription" style="color: white;">Description</label>
            <textarea class="form-control" id="movieDescription" name="movie_description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger">
            Add Movie
          </button>
    </form>
    <br>
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
</div>
{% endblock %}
