{% extends 'layout.html' %} {% block content %}

<div class="container mt-2 mb-10">
  <h1>Search options</h1>
  <br />
  <div class="row">
    <div class="col-md-4">
      <h4 class="mb-3">Search for a specific movie</h3>
      <form method="POST">
        {% csrf_token %} {{ movie_form.as_p }}
        <button type="submit" class="btn btn-primary mb-3" name="movie_search">
          Search
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h4 class="mb-3">Search for a specific cast member</h3>
      <form method="POST">
        {% csrf_token %} {{ cast_form.as_p }}
        <button type="submit" class="btn btn-primary mb-3" name="cast_search">
          Search
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h4 class="mb-3">Search for a specific director</h3>
      <form method="POST">
        {% csrf_token %} {{ director_form.as_p }}
        <button type="submit" class="btn btn-primary mb-3" name="director_search">
          Search
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h4 class="mb-3">Search for movies between dates</h3>
      <form method="POST">
        {% csrf_token %} {{ between_dates_form.as_p }}
        <button type="submit" class="btn btn-primary mb-3" name="between_dates_search">
          Search
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h4 class="mb-3">Search for movies release in a given year</h3>
      <form method="POST">
        {% csrf_token %} {{ date_form.as_p }}
        <button type="submit" class="btn btn-primary mb-3" name="date_search">
          Search
        </button>
      </form>
    </div>
    <div class="col-md-4">
      <h4 class="mb-3">Search for movies based on genres</h3>
      <form method="POST">
        {% csrf_token %} {{ genres_form.as_p }}
        <button type="submit" class="btn btn-primary mb-3" name="genres_search">
          Search
        </button>
      </form>
    </div>
  </div>

  {% if movie_results %}
  <h1 class="mt-5 mb-3">Movie Information</h1>
  <div class="row">
    {% for entry in movie_results %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ entry.title.value }}</h5>
          <p class="card-text"><strong>Cast:</strong> {{ entry.mergedCasts.value }}</p>
          <p class="card-text">
            <strong>Release:</strong> {{ entry.release_year.value }}
          </p>
          <p class="card-text">
            <strong>Genres:</strong> {{ entry.mergedGenres.value }}
          </p>
          <p class="card-text">
            <strong>Director:</strong> {{ entry.director.value }}
          </p>
          <p class="card-text">
            <strong>Country:</strong> {{ entry.country.value }}
          </p>
          <p class="card-text">
            <strong>Rating:</strong> {{ entry.rating.value }}
          </p>
          <p class="card-text">
            <strong>Duration:</strong> {{ entry.duration.value }}
          </p>
          <p class="card-text">
            <strong>Description:</strong> {{ entry.description.value }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if cast_results %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />

  <h1 class="mt-5 mb-1">Movies Information - search by cast</h1>
  <span class="mb-3">{{num_results}} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in cast_results %}
    <div class="card flex-grow-1">
      <div class="card-body">
        <h5 class="card-title card-break">{{ entry.title.value }}</h5>
        <p class="card-text card-break toggle-text"><strong>Cast:</strong> {{ entry.mergedCasts.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Release:</strong> {{ entry.release_year.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Genres:</strong> {{ entry.mergedGenres.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Director:</strong> {{ entry.director.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Country:</strong> {{ entry.country.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Rating:</strong> {{ entry.rating.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Duration:</strong> {{ entry.duration.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Description:</strong> {{ entry.description.value }}</p>
      </div>
    </div>
    {% endfor %}
</div>

  {% endif %}


  {% if between_dates_results %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />

  <h1 class="mt-5 mb-1">Movies Information - search by dates gap</h1>
  <span class="mb-3">{{num_results}} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in between_dates_results %}
    <div class="card flex-grow-1">
      <div class="card-body">
        <h5 class="card-title card-break">{{ entry.title.value }}</h5>
        <p class="card-text card-break toggle-text"><strong>Cast:</strong> {{ entry.mergedCasts.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Release:</strong> {{ entry.release_year.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Genres:</strong> {{ entry.mergedGenres.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Director:</strong> {{ entry.director.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Country:</strong> {{ entry.country.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Rating:</strong> {{ entry.rating.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Duration:</strong> {{ entry.duration.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Description:</strong> {{ entry.description.value }}</p>
      </div>
    </div>
    {% endfor %}
</div>

  {% endif %}

  {% if date_results %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />

  <h1 class="mt-5 mb-1">Movies Information - search by specific date</h1>
  <span class="mb-3">{{num_results}} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in date_results %}
    <div class="card flex-grow-1">
      <div class="card-body">
        <h5 class="card-title card-break">{{ entry.title.value }}</h5>
        <p class="card-text card-break toggle-text"><strong>Cast:</strong> {{ entry.mergedCasts.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Release:</strong> {{ entry.release_year.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Genres:</strong> {{ entry.mergedGenres.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Director:</strong> {{ entry.director.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Country:</strong> {{ entry.country.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Rating:</strong> {{ entry.rating.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Duration:</strong> {{ entry.duration.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Description:</strong> {{ entry.description.value }}</p>
      </div>
    </div>
    {% endfor %}
</div>

  {% endif %}


  {% if genres_results %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />

  <h1 class="mt-5 mb-1">Movies Information - search by specific genre(s)</h1>
  <span class="mb-3">{{num_results}} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in genres_results %}
    <div class="card flex-grow-1">
      <div class="card-body">
        <h5 class="card-title card-break">{{ entry.title.value }}</h5>
        <p class="card-text card-break toggle-text"><strong>Cast:</strong> {{ entry.mergedCasts.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Release:</strong> {{ entry.release_year.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Genres:</strong> {{ entry.mergedGenres.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Director:</strong> {{ entry.director.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Country:</strong> {{ entry.country.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Rating:</strong> {{ entry.rating.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Duration:</strong> {{ entry.duration.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Description:</strong> {{ entry.description.value }}</p>
      </div>
    </div>
    {% endfor %}
</div>

  {% endif %}

  {% if director_results %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}" />

  <h1 class="mt-5 mb-1">Movies Information - search by specific director</h1>
  <span class="mb-3">{{num_results}} results</span>
  <div class="container-card" onwheel="horizontalScroll(event)">
    {% for entry in director_results %}
    <div class="card flex-grow-1">
      <div class="card-body">
        <h5 class="card-title card-break">{{ entry.title.value }}</h5>
        <p class="card-text card-break toggle-text"><strong>Cast:</strong> {{ entry.mergedCasts.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Release:</strong> {{ entry.release_year.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Genres:</strong> {{ entry.mergedGenres.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Director:</strong> {{ entry.director.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Country:</strong> {{ entry.country.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Rating:</strong> {{ entry.rating.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Duration:</strong> {{ entry.duration.value }}</p>
        <p class="card-text card-break toggle-text"><strong>Description:</strong> {{ entry.description.value }}</p>
      </div>
    </div>
    {% endfor %}
</div>

  {% endif %}

</div>
{% endblock %}
